
@{
    ViewBag.Title = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2 class="heading">Deposit your hard earned cash!</h2>
    <br />
    <p class="sub-heading">Enter the amount you wish to deposit: @Html.TextBox("Name", null, new { @class = "form-control" })</p>
    <br />
    <div>
        <input type="button" value="Deposit"/>
    </div>
</div>