@model Banking_Project.Models.RegisterViewModel

@{
    ViewBag.Title = "Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Will show current bank balance on account. *@
<h2>Balance</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.DisplayFor(m => m.Balance)
    </div>
}