@model Banking_Project.Models.RegisterViewModel

@{
    ViewBag.Title = "Withdraw";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Web page for withdrawing money from account *@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h2 class="heading">Withdraw some money!</h2>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <p class="sub-heading">Enter the amount you wish to withdraw: </p>
                @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })

            </div>
        </div>
        @* Withdraw button *@
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Withdraw" class="btn btn-default" />
            </div>
        </div>
    </div>
</body>

</html>

